/* ヘッダ固定 */
html {
    min-height: 100%;
    posisiton: relative;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
}

#top_right {
    margin-top: 30px;
    display: inline;
    float: right;
}

/* フッタ固定 */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    vertical-align: center;
    padding: 4px;
    color: #444;
}

/* スクロールする場所：固定ナビゲーションの高さ＋余白をpadding-topに指定 */
#content {
    padding: 140px 0 0 0;
}

/* トップに戻るボタン */
.page_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 14px;
}