<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <!-- IE は常に標準モードで動かす -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}{{ constant("SITE_NAME") }}</title>
        <meta name="description" content="{{ description }} {{ constant("SITE_DESCRIPTION") }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=yes">
        <link href="asset/vendors/bootstrap/dist/css/bootstrap.min.css?date={{ constant("CACHE_TIME") }}" rel="stylesheet" type="text/css" media="all">
        <!-- カラー作成: (http://paintstrap.com/ja/ -->
        <link href="asset/css/theme.css?date={{ constant("CACHE_TIME") }}" rel="stylesheet" type="text/css" media="all">
        <link href="asset/css/app.css?date={{ constant("CACHE_TIME") }}" rel="stylesheet" type="text/css" media="all">
    </head>

    <body>
        <!-- ヘッダー -->
        <div id="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="container">
                                    <div class="col-xs-8">
                                        <!-- サイトタイトル -->
                                        <h1>{{ constant("SITE_NAME") }} <small>{{ constant("SITE_SUB_TEXT") }}</small></h1>
                                    </div>
                                    <div class="col-xs-4">
                                        <div id="top_right" class="text-right">お知らせなど</div>
                                    </div>
                                </div>
                            </div>

                            <!-- 画面が小さくなった時に表示するハンバーガーメニュー -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
                                    <span class="sr-only">メニュー</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- デスクトップ用メニュー -->
                            <div id="gnavi" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="">Link1</a></li>
                                    <li><a href="">Link2</a></li>
                                    <li><a href="">Link3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
        </div>

        <div id="content" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ title }}</h1>
                    {% block body %}{% endblock %}
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4><span class="glyphicon glyphicon-star-empty"></span>カテゴリ</h4>
                        <ul class="entry list-unstyled">
                            <li>01</li>
                            <li>02</li>
                            <li>03</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <!-- フッター -->
    <div class="footer">
        <div class="container">
            <address class="text-center">Copyright &copy; 2014 - {{ constant("SITE_UPDATE_YEAR") }} hoge All rights reserved.</address>
        </div>
    </div>
    <a href="#top" class="page_top text-right"><span class='btn btn-success'>トップに戻る&nbsp;<span class='glyphicon glyphicon-upload'></span></span></a>
    <script type="text/javascript" src="asset/vendors/jquery/dist/jquery.min.js?date={{ constant("CACHE_TIME") }}"></script>
    <script type="text/javascript" src="asset/vendors/bootstrap/dist/js/bootstrap.min.js?date={{ constant("CACHE_TIME") }}"></script>
    <script type="text/javascript" src="asset/js/base.js?date={{ constant("CACHE_TIME") }}"></script>
</body>
</html>
